.banner-explore {
  height: auto;
  display: flex;
  background-color: var(--secbg);
  margin: 8rem 0;
  text-align: center;
  padding: 6rem 22rem;
  gap: 2rem;
}

.banner-explore__left {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 0 2rem;
}

.banner-explore__left h1 {
  font-weight: 900;
  margin-bottom: 1rem;
}

.banner-explore__left h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.banner-explore__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.banner-explore__btn {
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 1rem;
}

.banner-explore__btn:hover {
  background-color: #3f3f46;
}

@media screen and (max-width: 768px) {
  .banner-explore {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    gap: 2rem;
  }

  .banner-explore__left {
    width: 100%;
    text-align: center;
  }

  .banner-explore__right {
    display: none;
  }

  .banner-explore__btn {
    align-self: center;
  }
}
