.crypto-btn {
  border: 1px solid gray;
  border-radius: 25px;
  text-decoration: none;
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 0 5rem 0 1rem;
  align-items: flex-start;
  font-family: "Public Sans", sans-serif;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

.crypto-btn img {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 2px;
  flex-shrink: 0;
  box-sizing: content-box;
}

.crypto-btn:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.crypto-btn h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 3px;
}

.crypto-btn h4 {
  margin-top: 0;
  font-weight: 400;
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.cryptosymbol {
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  flex-grow: 1;
  margin-bottom: 1rem;
  align-self: flex-start;
  font-weight: 600;
}

.crypto-up {
  color: green;
}

.crypto-down {
  color: red;
}

.arw {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .crypto-btn {
    padding: 0 3rem 0 1rem;
  }
  .crypto-btn img {
    width: 40px;
    height: 40px;
  }
  .cryptosymbol {
    font-size: 1.1rem;
  }
  .crypto-btn h3 {
    font-size: 0.9rem;
  }
  .crypto-btn h4 {
    font-size: 0.8rem;
  }
}
