.footer {
  background-color: #f5f5f5;
  padding: 32px;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 32px;
  margin-bottom: 0;
  border-top: 1px solid #e5e5e5;
}

.footer a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  color: #000;
  text-decoration: underline;
}

.footer__left img {
  width: 100px;
  margin-bottom: 16px;
}

.footer__right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}

@media (max-width: 768px) {
  .footer {
    padding: 16px;
  }

  .footer__left img {
    width: 80px;
  }
  .footer__right {
    flex-direction: column;
  }
}
