.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 22rem;
  background-color: var(--background);
}

.header__middle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__middle a {
  background-color: #f4f4f5;
  padding: 0.8rem 1.6rem;
  transition: 0.3s ease-in-out;
}

.header__middle a:hover {
  background-color: #e4e4e7;
}

.header__middle a:first-child {
  border-radius: 2rem 0.7rem 0.7rem 2rem;
}

.header__middle a:last-child {
  border-radius: 0.7rem 2rem 2rem 0.7rem;
}

.header__middle a:nth-child(2) {
  border-radius: 0.7rem;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header a {
  text-decoration: none;
  color: var(--text);
}

.login-button {
  background-color: #f4f4f5 !important;
  border: none;
  border-radius: 2rem 0.7rem 0.7rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  transition: background-color 0.3s ease-in-out;
  color: var(--text);
  padding: 0.8rem 1.6rem;
}

.login-button:hover {
  background-color: #e4e4e7 !important;
}

.register-button {
  background-color: var(--primary);
  color: #ffffff !important;
  border: none;
  border-radius: 0.7rem 2rem 2rem 0.7rem;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
  width: 80%;
}

.register-button:hover {
  background-color: #3f3f46;
}

.header__left a {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary);
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.mobile-navbar__close {
  font-size: 2rem;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-navbar__close:hover {
  color: var(--primary);
}

.mobile-navbar__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2rem;
  gap: 3rem;
  text-align: center;
  margin-right: 2.5rem;
}

.mobile-navbar__links li a {
  text-decoration: none;
  color: #010103;
  font-weight: 500;
  transition: all 0.3s;
}

.mobile-navbar__links li a:hover {
  color: #de8117;
}

.open-nav {
  left: 0;
}

.mobile-hamb {
  font-size: 2.8rem;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-hamb:hover {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 1.8rem;
    display: flex;
    margin-top: 2rem;
  }

  .header__middle {
    display: none;
  }

  .header__right {
    display: none;
  }
  .header__left p {
    text-align: center;
  }

  .header__left a {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary);
  }
  .mobile-hamb {
    display: flex;
  }
}
