.dashboard-mid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .dashboard-mid {
    display: flex;
    flex-direction: column;
  }
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

.dashboard {
  font-family: "Public Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.symbol-and-image {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.table-buy-button {
  background-color: var(--text);
  border: none;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  height: 2rem;
  width: 5rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.table-buy-button:hover {
  background-color: #3f3f46;
}

.modal-amount {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-amount input {
  width: 50%;
}

.table-sell-button {
  background-color: var(--text);
  border: none;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  height: 2rem;
  width: 5rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.table-sell-button:hover {
  background-color: #3f3f46;
}

.modal-input-output {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-input-output input {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .trade-page {
    max-width: 90%;
    margin: 0 auto;
  }
}

.loader {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.ball {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary);
}

.ball:nth-child(1) {
  animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-18px);
  }
}

.ball:nth-child(2) {
  animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-18px);
  }
}

.ball:nth-child(3) {
  animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-18px);
  }
}

