* {
  box-sizing: border-box;
}

.register-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.register-header__left {
  flex: 1;
}

.register-header__middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.register-header__right {
  flex: 1;
}

.register-header a {
  text-decoration: none;
}

.register-header__left a {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary);
}

.register-header__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 0.7rem;
}

.register-header__middle a {
  background-color: #f4f4f5;
  padding: 0.6rem 1.8rem;
  font-size: 1.1rem;
}

.register-header__middle a:nth-child(2) {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  font-weight: 600;
  border: 1px solid #e4e4e7;
}

.register-header__middle a:nth-child(1) {
  color: #70707b;
  border-radius: 0.7rem;
}

.register-header__middle a:nth-child(1):hover {
  background-color: #e4e4e7;
}

.register-page {
  height: 100vh;
  background-color: var(--background);
}

.register-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.register-form h2 {
  font-size: 1.5rem;
  color: #000000;
  align-self: start;
}

.register-email,
.register-password {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 1rem;
  border: 1px solid #e4e4e7;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  color: #70707b;
  background-color: #f4f4f5;
  font-weight: 600;
  border: none;
}

.register-form button {
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.7rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  color: #ffffff;
  background-color: #18181b;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

.register-form button:hover {
  background-color: var(--primary);
}

.register-form button svg {
  align-self: center;
  margin-top: 1px;
}

.have-account {
  font-size: 0.9rem;
  color: #70707b;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.have-account {
  margin-top: 2rem;
}

.have-account a {
  color: #000000;
  text-decoration: none;
}

.register-form__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.input-firstname {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 1rem;
  border: 1px solid #e4e4e7;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  color: #70707b;
  background-color: #f4f4f5;
  font-weight: 600;
  border: none;
}

.input-lastname {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 1rem;
  border: 1px solid #e4e4e7;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  color: #70707b;
  background-color: #f4f4f5;
  font-weight: 600;
  border: none;
}

@media screen and (max-width: 768px) {
  .register-form {
    width: 70%;
    margin-top: 2rem;
  }

  .register-form h2 {
    font-size: 1.2rem;
  }

  .register-form button {
    padding: 1.2rem 2.4rem;
  }

  .register-email,
  .register-password {
    padding: 1rem 1.2rem;
  }

  .register-form__name {
    flex-direction: column;
    gap: 1rem;
  }

  .input-firstname,
  .input-lastname {
    padding: 1rem 1.2rem;
  }

  .register-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .register-page{
    height: 100%;
  }
  .register-form__name {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .register-header__left a{
    font-size: 2rem;
  }

}